 input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1.60px solid green; 
}
p { 
    word-spacing: 5px;
}

/* #txtbox{
    font-size:10pt;
    height:30px;
    width:500px;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;	
} */	
/* 
#txtbox1{
    font-size:10pt;
    height:25px;
    width:155px;
	padding: 12px 20px;
	margin: 15px 0;
	display: inline-block;
	border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
 */
/* #txtboxs{
    font-size:10pt;
    height:30px;
    width:90px;
	padding: 12px 20px;
	margin:8px 0;
	display: inline-block;
	border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
} */

h6{
	color:gray;
}	

input[type=submit]{
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

#header,#footer{
	background-color:#D9D9D9;
}
#main-wrap{
	background-color: #D3D3D3;
}
	
#sidebar{
	background-color:#D3D3D3;
}

#content-wrap{
	background-color:#D3D3D3;
}
	
#main-wrap > div{
		min-height: 250px;
}	

#header,
#footer{
	min-height: 10px;
}

#main-wrap > div { min-height: 250px; }	

#header,
#footer{
	min-height: 10px;
}

#main-wrap{
    overflow: hidden;
}

#sidebar{
    float: left;
    width: 40%;
}
	
#content-wrap{
    float: right;
    width:60%;
}  
		
h1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 501px;
	font-style: italic;
	font-variant: normal;
	font-weight: bold;
	line-height: 50px;
	text-align:center;
}
/* .box {
  width: 20%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
} */

.button {
    width: 500px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
	background-color: #45a049;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover{
    color: orange;
}
.popup .content{
  max-height: 30%;
  overflow: auto;
}
input[type=text].inline{
/*width:448px;*/
 font-size:10pt;
    height:30px;
    width:500px;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}
.uinfo{
width:410px;
}

/* #info-wrap {
    overflow: hidden;
} */



/* .row {
  margin-right: -15px;
  margin-left: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
 */
 .col1 {
width: 300px;
float: left;
}
 

#left_col {
   float:left;
   width:50%;
   height:50%;
   background-color:#D3D3D3;
   
}
#right_col {
   float:right;
   width:50%;
    background-color:#D3D3D3;
}