 input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1.60px solid green; 
}
h6{
	color:gray;
}	
input[type=submit]{
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
p{font-size:15px;} 

#header,#footer{
	background-color:#D9D9D9;
}
#main-wrap{
	background-color: #D3D3D3;
}
	
#sidebar{
	background-color:#D3D3D3;
}

#content-wrap{
	background-color:#D3D3D3;
}
	
#main-wrap > div{
		min-height: 250px;
}	

#header,
#footer{
	min-height: 10px;
}

#main-wrap > div { min-height: 250px; }	

#header,
#footer{
	min-height: 10px;
}

#main-wrap{
    overflow: hidden;
}

#sidebar{
    float: left;
    width: 40%;
}
	
#content-wrap{
    float: right;
    width:60%;
}  
		
h1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 501px;
	font-style: italic;
	font-variant: normal;
	font-weight: bold;
	line-height: 50px;
	text-align:center;
}
.button {
    width: 500px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
	background-color: #45a049;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

p{
	font-family: Rockwell;
	font-size: 25px;
	font-style: italic;
	font-variant: normal;
	font-weight: bold;	
}

input[type=text].inline{
 font-size:35px;
    height:30px;
    width:500px;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.fa:hover {
    opacity: 0.7;
}
.uinfo{
width:410px;
}

 .col1 {
width: 300px;
float: left;
}
 
#left_col {
   float:left;
   width:50%;
   height:50%;
   background-color:#D3D3D3;
   
}
#right_col {
   float:right;
   width:50%;
    background-color:#D3D3D3;
}
h4{
	font-family: Rockwell;
	font-size:20px;
	font-style: italic;
	font-variant: normal;
	font-weight: bold;
}
.center {
		margin: auto; 
		text-align:center;		
	 	background-color:#D2D2D2;
}
	